.head-404{
    display: flex;
    justify-content: center;
    &__number{
        font-size: 10rem;
        font-family: 'Lobster', cursive;
        color: #C7A770;
        text-shadow: 0 1px 0 #E6DDC4, 0 2px 0 #E6DDC4, 0 3px 0 #F0E9D2, 0 4px 0 #C7A770, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }


    &__picture{
        width: 12rem;
        height: 12rem;
    }
}
.content-404{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    &__message{
        font-size: 1.5rem;
        font-weight: light;
        font-family: 'Limelight', 'cursive';
        text-align: center;
    }
    &__btn{
        padding: 0.75rem;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.5s;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transform: ease-in-out;
        transition-duration: 500;
    }
}
.icon-btn{
    width: 1rem;
    height: 1rem;
}
.content-404__btn:hover{
        padding: 0.75rem 1.5rem;
        background-color: #262626;
        color: #C7A770;
        transform: scale(1.0);
}

