.lower-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    background-color: hsl(0, 0%, 15%);
    color: #F0E9D2;
    padding: 0.5rem;
    text-align: center;
}
.site-footer{
    margin-top: 2rem;
    .social-list{
        display: flex;
        gap: 1rem;
        padding: 0.5rem;
        justify-content: flex-end;
    }
    .social a{
        padding: 0.50rem;
        text-align: center;
        min-width: 18px;
        border-radius: 4px;
        background: #444444;
        color: white;
        display: flex;
    }
    .picture-social{
        width: 1rem;
    }
}
.disclaimer{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
@media only screen and (min-width: 1020px){
    .lower-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .disclaimer{
        padding-top: 0;
    }
}