.comments-area{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    .comment-list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .comment{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .comment-body{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .comment-meta{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .comment-author{
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        .avatar{
                            border-radius: 9999px;
                        }
                        .fn{
                            .url{
                                color: #000;
                            }
                        }
                        .says{
                            display: none;
                        }
                    }
                    .comment-metadata{
                        a{
                            color: #000;
                            font-size: 0.75rem;
                            font-weight: bold;
                            font-style: italic;
                            transition:all 0.5s;
                        }
                    }
                }
                .reply{
                    display: flex;
                    gap: 0.3rem;
                    align-items: center;
                    transition: all 0.5s;
                    .comment-reply-link{
                        color: #000;
                        font-size:0.8rem;
                        transition:all 0.5s;
                    }
                }
                .reply::after{
                    content: "\2193";
                }
            }
            .children{
                list-style-type: none;
                padding-left: 0.8rem;
            }
        }
    }
    .comment-respond{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .comment-reply-title{
            display: flex;
            flex-direction:column;
            gap: 0.5rem;
        }
        .comment-form{
            display: flex;
            flex-direction: column;
            gap:1rem;
            label{
                font-weight: bold;
                font-size: 0.7rem;
                text-transform: uppercase;
            }
            .comment-form-comment{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                textarea{
                    border:2px solid #c7a770;
                    font-size: 1rem;
                }
            }
            .comment-form-author{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                input{
                    border:2px solid #c7a770;
                    padding: 0.5rem;
                    font-size: 1rem;
                }
            }
            .comment-form-email{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                input{
                    border:2px solid #c7a770;
                    padding: 0.5rem;
                    font-size: 1rem;
                }
            }
            .comment-form-url{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                input{
                    border:2px solid #c7a770;
                    padding: 0.5rem;
                    font-size: 1rem;
                }
            }
            .comment-form-cookies-consent{
                label{
                    font-weight: lighter;
                }
            }
            .form-submit{
                .submit{
                    border:none;
                    font-size:0.9rem;
                    padding: 0.5rem;
                    cursor: pointer;
                    background: #fff;
                    text-transform: uppercase;
                    border:2px solid #c7a770;
                }
            }
        }
    }
}

@media only screen and (min-width: 1020px){
    .comments-area{
        .comment-list{
            .comment{
                .comment-body{
                    .comment-meta{
                        flex-direction: row;
                        .comment-metadata:hover{
                            a{
                                color:rgb(115,61,145);
                            }
                        }
                    }
                    .reply:hover{
                        color:rgb(115,61,145);
                        .comment-reply-link{
                            color: rgb(115,61,145);
                        }
                    }
                }
            }
        }
        .comment-respond{
            .comment-form{
                flex-direction: row;
                flex-wrap:wrap;
                .comment-form-comment{
                    width: 100%;
                }
                .comment-form-author{
                    width: 32%;
                }
                .comment-form-email{
                    width: 32%;
                }
                .comment-form-url{
                    width: 32%;
                }
            }
        }
    }
}