.site-header{
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-nav{
    display: none;
}

@media only screen and (min-width: 1020px) {
    .menu-nav{
        display: flex;
        gap:1rem;
    }
    .menu-nav-desktop{
        display: flex;
        gap: 0.5rem;
        .menu-item{
            height: 100%;
            transition: all 0.5s;
            padding: 0 0.5rem;
            a{
                color: white;
                font-weight: bold;
                transition: all 0.5s;
                line-height: 4rem;
                display: flex;
                height: 4rem;
                text-transform: uppercase;
                font-size: 0.85rem;
            }
        }
        .menu-item:hover{
            background-color: #111;
            a{
                color: #c7a770;
            }
        }
    }
}
